@import url(reset.css);
html {
  scroll-behavior: smooth;
}
body {
  background-color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  
}

a {
  text-decoration: none;
  color: inherit;
}
.material-symbols-outlined {
  color: #ccc;
  cursor: pointer;
}
.material-symbols-outlined::selection {
  background: transparent;
}
body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1000; /* z-index 값  */
}

.icon_left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: block;
  padding: 10px;
  z-index: 1001; /* z-index 값  */
  overflow: hidden;
}

.icon_left span {
  transition: 0.5s;
}

input[id="menu_icon"] {
  display: none;
}

input[id="menu_icon"]:checked + label span {
  transform: rotate(-90deg);
}

input[id="menu_icon"]:checked + label #menu {
  left: -350px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* z-index 값  */
}

.logo a {
  display: block;
  padding: 10px;
}

.logo img {
  display: block;
}

.icon_right {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  width: 350px;
  overflow: hidden;
}
.icon_right > .searchicon {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 55px;
  transition: 1s;
  overflow: hidden;
}
.searchicon input {
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  width: 135px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #ccc;
  transition: 2s;
  /* margin-left: 15px; */
  margin-right: 15px;
  opacity: 0;
}
.icon_right > .searchicon:hover {
  width: 220px;
}
.icon_right > .searchicon:hover input {
  opacity: 1;
}
.dark_mode {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.lock {
  width: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: width 1s;
  overflow: hidden;
}

.login {
  margin: 0 15px;
}
.login input {
  width: 100px;
  padding: 8px 8px 5px 8px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
  color: #ccc;
}
.loginbtn > button {
  padding: 5px;
  width: 60px;
  display: block;
  background: #333;
  border: none;
}
.loginbtn > button:first-child {
  margin-bottom: 5px;
}
.lock:hover {
  width: 240px;
}

/* 메뉴 */

#menu {
  width: 350px;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 100px;
  left: -350px;
  text-align: center;
  transition: 1s;
  z-index: 999; /* z-index 값  */
}

.icon_box {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}

.icon_box li {
  margin: 10px;
}

.icon_box li a {
  display: block;
  padding: 5px;
}

.menu_box {
  width: 80%;
  height: 50%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid red; */
}

.menu_box > li {
  width: 80%;
  color: #ccc;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  z-index: 1001;
}

.menu_box li a {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu_box li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.menu_box li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.sub-menu {
  display: none;
  padding: 50px 0;
  /* padding-left: 10px; */
}

.sub-menu li {
  margin-bottom: 80px;
  font-size: 12px;
}

.sub-menu {
  display: none;
}
.active .sub-menu {
  display: block;
}
.sub-menu a {
  color: #666;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.sub-menu li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 32%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.sub-menu li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.hide {
  display: none;
}
/* ------------ */

#center_wrap {
  width: 100%;
  height: calc(100vh - 100px);
  background: #111;
  overflow: auto;
  scrollbar-width: none;
  top: 100px;
  position: relative;
  font-family: "pretendard";
}
.center_navbox {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  /* border:1px solid red; */
  z-index: 900;
  background: rgba(0, 0, 0, 0.2);
}
.center_nav {
  display: flex;
  justify-content: space-evenly;
  /* border:1px solid red; */
  /* margin-bottom:50px; */
}
.center_nav > li {
  width: 15%;
  max-width: 150px;
  text-align: center;
  transition: all 0.8s;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.center_nav > li a {
  display: block;

  padding: 10px;
}
.center_nav > li:hover {
  letter-spacing: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.centers {
  width: 90%;
  height: auto;
  color: #ccc;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  /* border:5px solid blue; */
}
h1.center_info {
  text-align: center;
  padding: 10px;
  margin: 10px auto;
}

.centers > div {
  width: 100%;
  /* border:1px solid red; */
  margin: 200px 0 100px 0;
  padding: 10px;
  overflow: hidden;
}
.centers > div:first-child {
  margin-top: 50px;
}
.centers > div img {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.centers > div > h1 {
  /* border:1px solid blue; */
  display: block;
  text-align: center;
  margin: 20px auto;
}

.centers > div > address {
  margin-bottom: 20px;
  /* border:1px solid red; */
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.centers > div > p {
  width: 90%;
  max-width: 1000px;
  /* border:1px solid red; */
  margin: 20px auto;
}
.centers > div > .company {
  text-align: center;
  width: 90%;
  font-weight: 600;
}

.top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  color: #ccc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 32px;
  padding: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  color: #111;
  font-weight: 600;
}

footer {
  background: #000;
  height: 150px;
  position: relative;
  font-size: 14px;
}

.footer_list {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 2;
}

a {
  text-decoration: none;
  color: #eee;
}

.footer_list li a {
  display: block;
  margin: 10px;
  transition: 0.5s;
}

.footer_list li:hover a {
  font-weight: bold;
}

#footer_icons {
  /* width: 30px; */
  height: 30px;
  position: absolute;
}

#facebook {
  right: 100%;
  top: 5%;
}

#insta {
  right: 2.5%;
  top: 5%;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin: 10px auto;
}

.copy {
  margin-top: 30px;
  /* border:1px solid red; */
  text-align: center;
}
